body{ 
    background: #dfdfdf;
}

p {
    color: #222
}
.foto-principal {
    width: 200px;
    border: 2px solid #fff; /*shorthand*/
    border-radius: 100% 100%;
   
 /* margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 500px;*/
  margin: 30px 30px 30px 30px; 
  
}
